# Python Basics

#### What can Python do?(w3schools)
* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.

In [25]:
num = 14
name = 'Sam'
money = 4.5

In [26]:
# Print
print('This is formated print. num-{a}, name-{b} and money-${c}.'.format(a=num,b=name,c=money))

This is formated print. num-14, name-Sam and money-$4.5.

In [27]:
print('My number is- {}, and my name is: {}.'.format(num,name))

My number is- 14, and my name is: Sam.

### List

In [28]:
#List
my_list = ['a', 1, '4.3', 'hi']#,[1,2,3,4]]

In [29]:
my_list.append('hh')

In [30]:
#Sclice
my_list[1:] # start from 1 and grab beyond it

[1, '4.3', 'hi', 'hh']

In [31]:
my_list[:2] # grab everything till index 2-1

['a', 1]

In [32]:
my_2dim_list = [[1,2,3,4],[2,3,4,5], [3,4,5,6]]

In [33]:
my_2dim_list[1:3]

[[2, 3, 4, 5], [3, 4, 5, 6]]

In [34]:
nest = [1,2,3,[4,5,['target']]]

In [35]:
nest[3]

[4, 5, ['target']]

In [36]:
nest[3][2]

['target']

In [37]:
nest[3][2][0]

'target'

In [38]:
# List - Methods ----
list_methods = [1,2,3,4,5]
list_methods.pop()#reterns last element

5

In [39]:
list_methods

[1, 2, 3, 4]

In [40]:
list_methods.pop(1)

2

In [41]:
list_methods

[1, 3, 4]

In [42]:
# in syntex
3 in list_methods

True

In [43]:
# Touple packing in list - Methods ---
list_t = [(1,2,3), (2,3,4), (3,4,5)]

In [44]:
# Touple un-packing
for a, b,c in list_t:
    print('a= ' + str(a) + ', b=' + str(b))

a= 1, b=2
a= 2, b=3
a= 3, b=4

### Dictionaries

In [45]:
d = {'key1':'item1','key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [46]:
d['key1']

'item1'

In [47]:
# Dictionaries methods --------
d.keys()

dict_keys(['key1', 'key2'])

In [50]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [51]:
list(d.values())[0]

'item1'

### Tuples

In [52]:
# Touples are immutable
t = (1,2,3)
t[0]

1

In [53]:
t[0] = 34 # can not change value

TypeError: 'tuple' object does not support item assignment

### Sets

In [54]:
# Sets are ordered unique coluction.

In [55]:
s = {1,4,2,3}

In [56]:
s.add(2)

In [57]:
s

{1, 2, 3, 4}

In [58]:
set([1,1,4,3,5,2])

{1, 2, 3, 4, 5}

## if,elif, else Statements

In [59]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle3')
elif 4 == 4:
    print('middle4')
else:
    print('Last')

middle3

## for Loops

In [60]:
seq = [1,2,3,4,5]

In [61]:
for item in seq:
    print(item)

1
2
3
4
5

## while Loops

In [62]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [63]:
range(5)

range(0, 5)

In [64]:
for i in range(5):
    print(i)

0
1
2
3
4

In [65]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [66]:
x = [1,2,3,4]

In [67]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [68]:
[item**2 for item in x]

[1, 4, 9, 16]

In [69]:
def expression(i):
    return i*2

In [70]:
new_list = [expression(i) for i in x if i%2 == 0]

In [71]:
new_list

[4, 8]

### functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func('abc')

abc

## lambda expressions

In [74]:
def square(num):
    result = num**2
    return result

In [75]:
square(4)

16

In [76]:
sq = lambda num: num**2

In [77]:
sq(3)

9

In [78]:
sm = lambda a,b: a+b

In [79]:
sm(2,3)

5

In [80]:
rev = lambda mystr: mystr[::-1] #extended slice [begin:end:step]

In [81]:
rev('manoj')

'jonam'

## map and filter

In [82]:
arr = [1,2,3,4,5]

In [83]:
# call square method for each element of the array
list(map(square,arr))

[1, 4, 9, 16, 25]

In [84]:
#using lambda
t = lambda item:item**2
list(map(t,arr))

[1, 4, 9, 16, 25]

In [85]:
list(filter(lambda n:n%2==0, arr))

[2, 4]

# string methods

In [86]:
s = 'who is there. Please go fast. is it ok?'

In [87]:
s.split()

['who', 'is', 'there.', 'Please', 'go', 'fast.', 'is', 'it', 'ok?']

In [88]:
s.split('.') #rsplit(), lsplit()

['who is there', ' Please go fast', ' is it ok?']

In [89]:
s.capitalize()

'Who is there. please go fast. is it ok?'

In [90]:
s.index('is') # count('is') #find() replace()

4

In [91]:
s.endswith('ok?')  #startswith()

True

In [92]:
txt = "I could eat bananas all day"
x = txt.partition("bananas")#Returns a tuple where the string is parted into three parts
print(x)

('I could eat ', 'bananas', ' all day')

In [93]:
txt = "banana"
x = txt.ljust(20)  # Returns a left justified version of the string
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

Other methods - https://www.w3schools.com/python/python_ref_string.asp
upper()
splitlines() #Splits the string at line breaks and returns a list
isnumeric() #Returns True if all characters in the string are numeric
format() #print("Sammy has {} balloons.".format(5))

Thank You!