# Python Basics

In [5]:
num = 14
name = 'Sam'
money = 4.5

In [17]:
# Print
print('This is formated print. num-{a}, name-{b} and money-${c}.'.format(a=num,b=name,c=money))

This is formated print. num-14, name-Sam and money-$4.5.

In [15]:
print('My number is- {}, and my name is: {}.'.format(num,name))

My number is- 14, and my name is: Sam.

### List

In [28]:
#List
my_list = ['a', 1, '4.3', 'hi']#,[1,2,3,4]]

In [19]:
my_list.append('hh')

In [29]:
#Sclice
my_list[1:] # start from 1 and grab beyond it

[1, '4.3', 'hi']

In [34]:
my_list[:2] # grab everything till index 2-1

SyntaxError: invalid syntax (<ipython-input-34-99c4a417eb2f>, line 1)

In [52]:
my_2dim_list = [[1,2,3,4],[2,3,4,5], [3,4,5,6]]

In [58]:
my_2dim_list[1:3]

[[2, 3, 4, 5], [3, 4, 5, 6]]

In [35]:
nest = [1,2,3,[4,5,['target']]]

In [36]:
nest[3]

[4, 5, ['target']]

In [37]:
nest[3][2]

['target']

In [38]:
nest[3][2][0]

'target'

### Dictionaries

In [42]:
d = {'key1':'item1','key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [40]:
d['key1']

'item1'

### Tuples

In [44]:
# Touples are immutable
t = (1,2,3)
t[0]

1

In [45]:
t[0] = 34

TypeError: 'tuple' object does not support item assignment

### Sets

In [ ]:
# Sets are ordered unique coluction.

In [63]:
s = {1,4,2,3}

In [64]:
s.add(2)

In [65]:
s

{1, 2, 3, 4}

In [66]:
set([1,1,4,3,5,2])

{1, 2, 3, 4, 5}